body * {
  margin: 0; padding: 0;
  }
.edit {
margin: 50px 100px 0px 540px;
}

.save {
margin: 50px 100px 0px 540px;
}
.sentence {
  text-align: center;
  margin:15px;
}
.sentence input {
  font-weight: bold;
}

ul#grid {
  list-style: none;
  margin: 20px auto 0;
  width: 900px;  /*was 468*/
  }

#grid li {
  float: left;
  margin: 0px 0px 0px 0px;
  text-align:center;
  border: solid 1px;
  border-color:#000000;
  padding: 3px 5px 5px 5px;
  width: 100px;
  height: 18px;
  font-size: large;
  }
.red {
  background-color:red;
  color:white;
}
.yellow {
  background-color:yellow;
}
.green {
  background-color:green;
}
.orange {
  background-color:orange;
}
.blue {
  background-color:blule;
}
.purple {
  background-color:purple;
}
.violet {
  background-color:violet;
}
.lightcyan {
  background-color:lightcyan;
}

.dim-true {opacity : 0.1;
    filter: alpha(opacity=10);
  }
.hide-true {
  opacity : 0;
    filter: alpha(opacity=0);
  }
}


li { cursor: hand; cursor: pointer; }

li:hover {
background-color: #EEEEEE;
}

#grid li img {
  background-color: white;
  padding: 0px; margin: 0;
  //border: 1px dotted #58595b;
  width: 50px;
  height: 50px;
  }
  
#grid li a {
  display: block;
  }